#msgp{
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
   }

   #adminforgot{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
   }
   #formforgot{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
padding: 20px;
   }
#asdfa{
    margin-bottom: 20px;
    font-size: 25px;
}

#formbuttonforgot{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}