#maindiv{ 
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px;
    width: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}



#asdsz{
    margin-top: 30px;
    margin-bottom: 30px;
}

#img-top{
    height: 220px !important;
}


#cardh4{
    font-family: 'Abyssinica SIL', serif;
    color: #ff5100e7;
    font-weight: bold;
}

#carddiv1{
 display:  flex;
 flex-direction: row;
 justify-content: space-around;   
}

#cardbutton{
border: none;
background-color: #ff5100e7;
}
#cardicon{
    color: white;
}

#poph2{
    margin-top: 20px;
    font-family: 'Abyssinica SIL', serif;
    color: #ff5100e7;
    font-weight: bold;
    font-size: 50px;
}